@import url('./Both.css');

#qnote-editor-pane {
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}

#qnote-editor-pane .text-area {
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-background-radius: 10;
    -fx-border-radius: 15;
    -fx-prompt-text-fill: gray;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-control-inner-background: rgba(0, 0, 0, 0.5);
}

#qnote-editor-pane .text-area .scroll-pane {
    -fx-background-color: transparent;
}

#qnote-editor-pane .text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#qnote-editor-pane .text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
